.panel{
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.panel input{
  padding: 5px;
  border-width: 0 0 2px 0;
  border-bottom-color: #d0d0d0;
}
.panel input:focus{
  outline: none;
  border-bottom-color: #2fb0d2
}
.panel button{
  background: #2fb0d2;
  border-radius: 100rem;
  border: none;
  color: #ffffff;
  cursor: pointer;
  padding: 4px 15px;
}
.header-panel h2{
  text-align: center;
}
.weatherLayout{
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.header-panel a{
  color: #000000;
}